[user]
	email = serrghi@gmail.com
	name = Torstein Skulbru
	signingkey = 2D629BB8D93D6600

[alias]
	c = commit -am
#	up =
	up = "!git remote update -p; git merge --ff-only @{u}"
	p = push
	s = status -s
	df = diff --color --color-words --abbrev
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	ri = "!r() { git rebase -i HEAD~$1; }; r"
	co = checkout
	amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
	ll = log --stat --abbrev-commit
	tl = log --tags --simplify-by-decoration --pretty=format:'%ai %d'
	sl = shortlog -sn
	fl = log -u
	undopush = push -f origin HEAD^:master
[color]
	ui = always
[apply]
	whitespace = fix
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	whitespace = fix,space-before-tab,-indent-with-non-tab,trailing-space
	# Make `git rebase` safer on macOS
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false
	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false

	autocrlf = false
[commit]
	template = ~/.gitmessage
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	log = true
	tool = Kaleidoscope
# [commit]
# 	# https://help.github.com/articles/signing-commits-using-gpg/
# 	gpgsign = true
[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1
[url "git@github.com:"]
  insteadOf = "gh:"
  insteadOf = "https://github.com"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
  pushInsteadOf = "https://github.com"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"
[url "git@github.com:tskulbru/"]
# Any GitHub repo with my username should be checked out r/w by default
# http://rentzsch.tumblr.com/post/564806957/public-but-hackable-git-submodules
  insteadOf = "git://github.com/tskulbru/"
[diff]
	tool = Kaleidoscope
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[difftool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/diffmerge/4.2.0.697/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/diffmerge/4.2.0.697/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[push]
	default = simple
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
[rerere]
  enabled = true
